@import "custom";
@import "node_modules/bootstrap/scss/bootstrap";

$nav-break: 853px;
$nav-color: #767676;
$main-page-bgcolor: #ECECEC;
$border-active-list: #0B6FBB;
$title-color : #27699D;

body {
  background-color: $main-page-bgcolor;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;

  @include media-breakpoint-down(sm) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.navbar{
  padding: 0;
  background-color: $nav-color;
  line-height: 36px;

  .navbar-brand{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #242424;
    font-size: 35px;
    color: #ECECEC !important;
    line-height: 45px;
  }
  .navbar-nav .nav-item.globe-icon{
    background-color: #BBBBBB;
    margin-right: 0;
  }
  .navbar-nav .nav-item{
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 12px;

    &:not(:last-child){
      border-bottom: 3px solid $nav-color;

      &:not(.active-link):hover {
        border-bottom: 3px solid $border-active-list;

        .nav-link {
          color: #fff;
        }
      }
    }


    @media screen and (max-width: $nav-break) {
      margin: 0 2px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      padding-left: 10px;
      border-bottom: 0;

      &:not(:last-child){
        border-left: 3px solid $nav-color;

        &:not(.active-link):hover {
          border-bottom-color: $nav-color;
          border-left: 3px solid $border-active-list;
        }
      }
    }

    &.active-link {
      border-bottom: 3px solid $border-active-list;

      @include media-breakpoint-down(sm) {
        border-bottom: 0;
        border-left: 3px solid $border-active-list;
      }
    }
    .nav-link {
      color: #f6f7f7;
    }
  }

  .nav-link {
    transition: color 300ms;
  }
}

main {
  margin-top: 35px;
}

header {
  margin-bottom: 40px;
  margin-top: 80px;

  .header-title {
    text-align: center;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .header-content {
    text-align: justify;
  }
  /* Slider */
  .slider-image {
    margin: 0 auto;
    height: 365px;
  }
  .slick-prev:before{
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: "\f053";
  }
  .slick-prev{
    left: 0;
  }
  .slick-next:before {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: "\f054";
  }
  .slick-next {
    right: 0;
  }
  .slick-prev, .slick-next {
    font-size: 25px;
    padding: 30px 15px;
    width: auto;
    height:  auto;
    color: #fff;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }

  > div.row {
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}
.countries-select {
  text-align: center;

  .country-flag {
    padding-top: 10px;
    padding-bottom: 10px;

    img {
      width: 75%;
    }
    p {
      color: $title-color;
      font-weight: 700;
      margin-top: 8px;
      font-size: 14px;
    }
  }
}

.tabcontent {
  display: none;
  padding: 35px 10px;
  background-color: #E0E0E0;

  .country-title {
    color: $title-color;
    text-transform: uppercase;
  }
  .country-content {
    font-size: 13px;
    margin-top: 15px;
    color: #7A7A7A;
  }
  a.btn {
    padding: 6px 35px;
    border-radius: 0;
    margin-top: 40px;
  }
  a.btn.row-btn {
    display: none;
  }
  img.tab-content-img {
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    a.btn.column-btn {
      display: none;
    }
    a.btn.row-btn {
      display: block;
      padding: 6px 0;
    }
  }
}
.countries {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .tab {
    overflow: hidden;
    border-top: 1px solid #707070;
    margin: 0;

    div {
      background-color: $main-page-bgcolor;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      border-top: 3px solid $main-page-bgcolor;
      transition: all 500ms;

      @include media-breakpoint-down(md) {
        padding: 14px 0;
      }
    }
    div:hover {
      background-color: #E6E6E6;
    }
    div.active {
      background-color: #E0E0E0;
      border-color: $border-active-list;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      border-top: 0;
      border-left: 1px solid #707070;

      div {
        padding: 6px 0;
        border-top: 0;
        border-left: 3px solid $main-page-bgcolor;
      }
      div.active {
        border-color: #0B6FBB;
      }
    }
  }
}
.countries-view {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
  .countries-view-selected {
    margin: 0;

    @include  media-breakpoint-down(sm) {
      margin-left: 0;
    };
  }
}

/* Contact Section */
#contact {
  color: $title-color;
  font-weight: 500;

  .row {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #E0E0E0;
  }
  .section-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 15px;

    p {
      border-bottom: 1px solid #707070;
    }
  }
  .side {
    margin-bottom: 25px;

    p {
      margin: 0;
      font-size: 13px;
    }
  }

  @include media-breakpoint-down(sm) {
    .row {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}

footer {
  margin-top: 25px;

  .footer-border {
    background-color: #767676;
    height: 15px;
  }
  .footer-main {
    color: #545454;
    font-size: 14px;
    line-height: 16px;
    min-height: 100px;
    background-color: #222222;
    padding: 40px 0 10px 0;

    .footer-greetings {
      font-size: 20px;
      color: #C1C1C1;
      line-height: 25px;
    }
    .row.first-row {
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 25px;
      padding-right: 25px;

      @include media-breakpoint-down(sm) {
        margin-right: 15px;
        margin-left: 15px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .bottom-footer{
      margin-top: 30px;

      .row {
        margin: 0;

        > div {
          padding: 0;
        }
      }
      .bottom-left-side {
        img {
          width: 22px;
          margin-right: 5px;
        }
        .copyright{
          color: #434242;
          margin-bottom: 0;
          margin-top: 10px;
        }
      }
      .bottom-right-side {
        margin-top: 15px;

        p:first-child {
          font-size: 12px;
          font-weight: 600;
          color: #676767;
          margin-bottom: 7px;
        }
        span:not(:last-child) {
          border-right: 1px solid #676767;
        }
        p:nth-child(2) {
          font-size: 13px;
          margin-bottom: 7px;
          line-height: 19px;

          span {
            padding-right: 10px;
          }
          span:not(:first-child) {
            padding-left: 10px;
          }
          a {
            color: #666666;
          }
        }
        p:nth-child(3) {
          margin-left: 135px;
          line-height: 19px;

          span {
            padding-right: 5px;
          }
          span:not(:first-child) {
            padding-left: 5px;
          }
          a {
            color: #666666;
          }

          @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }

}
